<div class="pokemon-card">
  <div class="pokemon-image">
    <a [routerLink]="['/pokemon', pokemon.name]">
      <img
        [src]="pokemon.sprites.front_default"
        alt="Pokemon imagem do cartão"
      />
    </a>
  </div>
  <div class="pokemon-name">
    <p>
      <strong>{{ pokemon.name | uppercase }}</strong>
    </p>
  </div>
  <div class="pokemon-base-stat">
    <p>Base Stat: {{ pokemon.stats[0].base_stat }}</p>
  </div>
  <div class="pokemon-height">
    <p>Height: {{ pokemon.height }}</p>
  </div>
  <div class="pokemon-weight">
    <p>
      Weight:
      {{ pokemon.weight > 1000 ? pokemon.weight / 1000 : pokemon.weight }}
      {{ pokemon.weight > 1000 ? "tons" : "kg" }}
    </p>
  </div>
  <ul class="pokemon-type">
    <li
      [ngStyle]="{ 'background-color': getPokemonType(item.type.name) }"
      class="pokemon-background-type"
      *ngFor="let item of pokemon.types"
    >
      <span>{{ item.type.name | uppercase }}</span>
    </li>
  </ul>
</div>
