* {
  background: linear-gradient(54deg, rgba(2,0,36,1) 0%, rgba(12,35,150,1) 62%, rgba(36,113,210,1) 100%);
}

.dashboard-title {
  display: flex;
  justify-content: center;
  text-align: center;
  text-transform: uppercase;
  color: white;
}
